# Include all .json, .ini, .mustache, and .md files in the base package folder
recursive-include tinytroupe *.json *.ini *.mustache *.md

# Include everything under the prompts folder
recursive-include tinytroupe/prompts *