Now, consider the following:
  - simulation purpose: "{{purpose}}"; and
  - story requirements: "{{requirements}}".

Please propose a story start for the following simulation context which respects the given purpose:

{{{current_simulation_trace}}}